.ShareCarApp-header {
    background: linear-gradient(to right, #d6d5d5, #f7f4f4);
    padding: 50px 40px 10px; 
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.ShareCarApp-header h1 {
    font-family: 'Chivo', sans-serif;
    color: #fff;
}