.bottom-navbar {
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: black;
    align-content: stretch;
    background: black;
    flex-direction: row;
}

.bottom-navbar-button {
    flex: 1;
    float: center;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    font-size: 18px;
    border: none;
    background-color: transparent;
    color: white;
    margin: auto;
    font-family: 'Lato', sans-serif;
}

.bottom-navbar-button:hover {
    background-color:white; 
    color: black;
}