.shareCarApp-item-container {
    background-color: rgb(252, 238, 222);
    height: 5vh;
    margin: 5px;
    border-radius: 10px;
}

.shareCarApp-item-container span, button {
    margin: 15px;
    
}