
div.trip-container {
    background-color: rgb(233, 233, 233);
    padding-left: 0;
    padding-right: 0;
    box-shadow: 0 10px 30px rgba(136, 136, 136, 0.356);
    border-radius: 10px;
    font-family: 'Open Sans', sans-serif;

}

/*.trip-list-container {*/
    /*padding: 0 40px 10px;*/
    /*display: flex;*/
    /*align-items: center;*/
    /*text-align: center;*/
    /*margin-bottom: 10px;*/
    /*flex: center;*/
    /*justify-content: center;*/
/*}*/

.trip-description {
    font-size: 15px;
    font-weight: 800;
    padding: 0 40px 10px;  
    color: black;
    letter-spacing: 0.5px;
}

.trip-route {
    font-size: 15px;
    font-weight: 800;
    padding: 0 40px 10px; 
    color: black; 
    letter-spacing: 0.5px;
}

.trip-time {
    font-size: 15px;
    font-weight: 800;
    padding: 0 40px 10px;  
    color: black;
    letter-spacing: 0.5px;
}

.trip-driver-name {
    font-size: 15px;
    font-weight: 800;
    padding: 0 40px 10px;  
    color: black;
    letter-spacing: 0.5px;
}