
div.trip-container {
    background-color: rgb(233, 233, 233);
    padding-left: 0;
    padding-right: 0;
    box-shadow: 0 10px 30px rgba(136, 136, 136, 0.356);
    border-radius: 10px;
    font-family: 'Open Sans', sans-serif;
    flex-direction: column;

}

/*.trip-list-container {*/
    /*padding: 0 40px 10px;*/
    /*display: flex;*/
    /*align-items: center;*/
    /*text-align: center;*/
    /*margin-bottom: 10px;*/
    /*flex: center;*/
    /*justify-content: center;*/
/*}*/
.trip-list-container{
    position: relative;
 
}


.trip-description {
<<<<<<< HEAD
    font-size: 14px;
    font-weight: 800;  
=======
    font-size: 13px;
    font-weight: 800;
    padding: 0 40px 10px;  
    color: black;
>>>>>>> 106933fc31d3001a55dd42a85584b302091e9615
    letter-spacing: 0.5px;
}

.trip-route {
<<<<<<< HEAD
    font-size: 12px;
=======
    font-size: 13px;
>>>>>>> 106933fc31d3001a55dd42a85584b302091e9615
    font-weight: 800;
    padding: 0 40px 10px; 
    color: black; 
    letter-spacing: 0.5px;
}

.trip-time {
<<<<<<< HEAD
    font-size: 12px;
=======
    font-size: 13px;
>>>>>>> 106933fc31d3001a55dd42a85584b302091e9615
    font-weight: 800;
    padding: 0 40px 10px;  
    color: black;
    letter-spacing: 0.5px;
}

.trip-driver-name {
<<<<<<< HEAD
    font-size: 12px;
=======
    font-size: 13px;
>>>>>>> 106933fc31d3001a55dd42a85584b302091e9615
    font-weight: 800;
    padding: 0 40px 10px;  
    color: black;
    letter-spacing: 0.5px;
}